

/*banner*/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/pexels-photo.jpg');
  background-size: cover;
  background-position: 75% 80%;
  box-shadow: 1px 1px 1px #1abc9c;
}

.banner .title-container {
  padding: 50px 100px;
}
.banner h1 {
  color: #34495e;
  font-size: 135px;
  line-height: .9;
}

.banner span {
  color: #45496e;
}

.banner .seperator {
  width: 450px;
  height: 1px;
  background-color: #1abc9c;
}

.banner h2 {
  color: #1abc9c;
  font-size: 50px;
}
/*banner~*/


/*nav-boxes*/
.nav-boxes-container {
  width: 100%;
  height: 800px;
  display: flex;
}

.col {
  width: 100%;
}

.nav-box {
  background-size: cover;
  background-position: center;
  text-align: center;
  transition: opacity 0.5s;
}

.nav-box:hover {
  cursor: pointer;
  opacity: 0.8;
}

.box-1 {
  height: 100%;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/pexels-photo-96858.jpeg');
}
.box-2 {
  height: 50%;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/face-003.gif');
}

.box-3 {
  height: 50%;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/typing-vintage-technology-keyboard.jpg');
}

.nav-box h1 {
  color: #444;
  font-size: 40px;
  padding: 25px;
}
/*nav-boxes~*/


/*about*/
/*about~*/

/*work*/
.portfolio-container {
  display: flex;
}
.work {
  width: 75%;
  height: 100vh;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/pexels-photo-96858.jpeg');
  background-size: cover;
}

.work-title {
  margin: 0 200px;
  font-size: 90px;
  text-align: right;
  color: #34495e;
  border-bottom: 3px solid #1abc9c;
}

.work p {
  font-size: 4.2vw;
  color: #34495e;
  padding: 50px;
}

.units-container {
  width: 25vw;
}

.unit {
  height: 25vh;
  background-size: cover;
  background-position: center;
}

.unit:hover {
  cursor: pointer;
}
.unit-1 {
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/capture image.png');
}

.unit-2 {
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/capture image-2.png');
}

.unit-3 {
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/capture image-3.png');
}

.unit-4 {
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/personal-website-2/img/capture image-4.png');
}


/*work~*/
